:root {
  --clr-bg: #b7efc5;
  --clr-text: #10451d;
  --clr-text-backdrop: rgba(16, 69, 29, 0.699);
  --clr-text-light: #155d27;
  --clr-bg-dark: #6ede8a;
  --clr-accent: #25a244;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--clr-bg-dark);
  color: var(--clr-text);
}

main {
  padding: 1rem 2rem;
}

ul {
  list-style: none;
}

h1 {
  padding-bottom: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  border: 2px solid var(--clr-accent);
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: var(--clr-bg);
}

.hidden {
  display: none !important;
}

/* Navbar */

nav {
  display: flex;
  background: var(--clr-accent);
  font-size: large;
  font-weight: 600;
  padding: 2rem;
}
.primary-nav {
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 0.5rem;
  padding-inline: 2rem;
}

.nav__title {
  padding-left: 0.5rem;
}

.nav-item {
  all: unset;
  cursor: pointer;
  color: var(--clr-bg);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.7s ease;
}

.nav-item:hover,
.nav-item:active {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text);
  transition: background-color 0.7s ease;
}

/* Home Page */

.songlist__title {
  position: relative;
  width: 100%;
  padding-block: 1rem;
}

.songlist__title::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0.5rem;
  background-color: var(--clr-text-light);
}

.songlist__item {
  display: flex;
  position: relative;
  width: 100%;
  padding-bottom: 1rem;
}

.songlist__item::after {
  position: absolute;
  overflow: hidden;
  content: "";
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0.5rem;
  background-color: var(--clr-text-light);
  animation: move-from-right 2s forwards;
}

@keyframes move-from-right {
  0% {
    width: 0;
    background-color: var(--clr-bg-dark);
    transform: translateX(100%);
  }
  30% {
    transform: translateX(0.5%);
  }
  50% {
    width: 95%;
    transform: translateX(5%);
  }
  70% {
    transform: translateX(0.2%);
  }
  90% {
    width: 95%;
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0);
  }
}

.songlist__item:last-child::after {
  height: 0;
}

.songlist__items-info {
  flex: 7;
}

.songlist__items-comments {
  flex: 1;
  cursor: pointer;
  text-align: right;
  align-self: center;
}

/* Song Page */

.play__content {
  display: flex;
  gap: 2rem;
}
.play__content h1 {
  padding-bottom: 0;
}

.play__content-button {
  background-color: var(--clr-bg);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  cursor: pointer;
  position: relative;
}

.play__content-button i {
  font-size: 6rem;
  position: absolute;
  inset: -0.5rem;
  color: var(--clr-text-light);
}

.play__content-button i:active,
.play__content-button i:hover {
  color: var(--clr-accent);
}

.comments__form-el {
  display: flex;
  padding-block: 1rem;
}

.comment__form {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.comment__form::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;

  background-color: var(--clr-text-light);
}

textarea {
  resize: none;
  width: 100%;
  background-color: var(--clr-bg);
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-text-light);
  box-shadow: 1px 1px 1px var(--clr-bg-dark);
  color: var(--clr-text);
}

.comments__btn {
  all: unset;
  border: 1px solid var(--clr-text-light);
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: var(--clr-bg);
  box-shadow: 1px 1px 1px var(--clr-bg-dark);
}

.comments__select {
  border: 1px solid var(--clr-text-light);
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: var(--clr-bg);
  box-shadow: 1px 1px 1px var(--clr-bg-dark);
}

.comments__item {
  position: relative;
  width: 100%;
  padding-bottom: 1rem;
}

.comments__item::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  bottom: 0.5rem;
  background-color: var(--clr-text-light);
}
.comments__item:last-child::before {
  height: 0;
}

.comments__items-comments {
  font-weight: 600;
}

.comments__items-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.comments__items-date {
  font-size: x-small;
}

/* Auth Page */

.auth__tab {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.auth__tab-item {
  cursor: pointer;
}

.is_active {
  color: var(--clr-accent);
}

.form__card-element {
  display: flex;
  padding-block: 0.5rem;
}
.form__card-input {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.form__card-element label {
  font-weight: 600;
  color: var(--clr-text-light);
  flex-basis: 20%;
}

.form__card-element input[type="text"],
.form__card-element input[type="email"],
.form__card-element input[type="password"],
.form__card-element input[type="date"] {
  flex-basis: 80%;
  background-color: var(--clr-bg);
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-text-light);
  box-shadow: 1px 1px 1px var(--clr-bg-dark);
  color: var(--clr-text);
}

.form__card-btn {
  all: unset;
  margin-left: 17%;
  border: 1px solid var(--clr-text-light);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--clr-bg);
  box-shadow: 1px 1px 1px var(--clr-bg-dark);
}

/* About Page */

.userdetails {
  display: flex;
  padding-block: 2rem;
}

.userdetails_topic {
  flex: 2;
}

.userdetails_info {
  flex: 8;
}

.userdetails__btn {
  all: unset;
  margin-left: 20%;
  border: 1px solid var(--clr-text-light);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--clr-bg);
  box-shadow: 1px 1px 1px var(--clr-bg-dark);
}

/* Manage Page */

.manage {
  display: flex;
  flex-direction: row;
}

.upload__container {
  flex: 2;
}

.manage__music {
  flex: 8;
}

.upload_box {
  width: 10rem;
  border: 2px solid var(--clr-accent);
  border-radius: 0.5rem;
  margin: auto;
  padding-block: 2rem;
  margin-block: 2rem;
  background-color: var(--clr-bg);
  box-shadow: 2px 2px 1px var(--clr-bg-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload_box.is_active {
  background-color: var(--clr-bg-dark) !important;
  color: var(--clr-bg);
  font-weight: 600;
}

.upload_input {
  width: 100%;
  padding-block: 1em;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  text-align: center;
}

.upload_input label {
  all: unset;
  cursor: pointer;
  margin-inline: 2rem;
  border: 1px solid var(--clr-text-light);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--clr-bg);
  box-shadow: 2px 2px 1px var(--clr-bg-dark);
}

.upload_input label:active,
.upload_input label:hover {
  background-color: var(--clr-bg-dark);
}

.upload_input input[type="file"] {
  display: none;
}

.progressbar {
  max-width: 100%;
  margin: 0.2rem 1rem;
  height: 1em;
  border: 1px solid var(--clr-text-light);
}
.progress {
  background-color: var(--clr-accent);
  height: 100%;
}

.uploads__your-song-li {
  padding-block: 0.5rem;
}

.uploads__your-song-name {
  margin: 0 1rem;
}

.uploads__you-songs {
  position: relative;
  width: 100%;
  padding-block: 1rem;
}

.uploads__you-songs::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0.5rem;
  background-color: var(--clr-text-light);
}

.uploads__items-content {
  position: relative;
  width: 100%;
  padding-bottom: 1rem;
}

.uploads__items-content::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  bottom: 0.5rem;
  background-color: var(--clr-text-light);
}

.uploads__items-content:last-child::after {
  height: 0;
}

.uploads__items-box {
  display: flex;
}

.uploads__items-info {
  flex: 7;
}

.uploads__items-comments {
  flex: 1;
  text-align: right;
  align-self: center;
}

.uploads__items-comments i {
  cursor: pointer;
}

.uploads__items-content {
  width: 100%;
}

.uploads__item-edit {
  display: flex;
}

.uploads__form {
  width: 100%;
}

.uploads__item-box {
  display: flex;
  width: 100%;
}

.upload__item {
  width: 33%;
  display: flex;
  align-items: center;
}

.upload__item label {
  flex-basis: 1;
}
.upload__item input {
  flex-basis: 6;
  width: 100%;
  background-color: var(--clr-bg);
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-text-light);
  box-shadow: 1px 1px 1px var(--clr-bg-dark);
  color: var(--clr-text);
  margin: 0.5rem 1rem;
}

.uploads__item-btn {
  display: flex;
  gap: 2rem;
  padding-bottom: 1rem;
}

.uploads__item-btn button {
  all: unset;
  border: 1px solid var(--clr-text-light);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--clr-bg);
  box-shadow: 1px 1px 1px var(--clr-bg-dark);
}

/* Player */

.player {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0rem;
  padding-bottom: 1.5rem;
  width: 100%;
}

.vol-controll,
.player__controll {
  display: flex;
  flex-direction: row;
  padding-inline: 1rem;
  background-color: var(--clr-accent);
}
.song__tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.2rem;
  cursor: pointer;
}

.song__title,
.play-button,
.vol-btn {
  width: fit-content;
  text-align: center;
  background: var(--clr-bg-dark);
  padding: 0.5rem 1rem 0 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 2px solid var(--clr-accent);
  border-bottom: 0;
}

.play-button i,
.vol-btn i {
  font-size: x-large;
}

.play-button:active,
.play-button:hover,
.vol-btn:active,
.vol-btn:hover {
  background-color: var(--clr-accent);
}

.song__title-name,
.song__title-artist {
  font-size: x-large;
  font-weight: 600;
}

.time-current,
.time-duration {
  width: 3rem;
  text-align: center;
}

.vol-controll-bar,
.time-bar {
  flex: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.vol-controll-bar-line,
.time-bar-line {
  height: 0.5rem;
  width: 100%;
  border-radius: 0.2rem;
  background-color: var(--clr-bg-dark);
}

.vol-controll-bar-line-progress,
.time-bar-line-progress {
  position: relative;
  height: 0.5rem;
  width: 40%;
  border-radius: 0.2rem;
  background-color: var(--clr-text);
}

.vol-controll-bar-line-progress::after,
.time-bar-line-progress::after {
  position: absolute;
  cursor: pointer;
  content: "";
  height: 0.7rem;
  width: 0.7rem;
  right: -0.25rem;
  top: -0.1rem;
  background-color: var(--clr-text-light);
  border-radius: 50%;
}

/* Modal */

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  padding: 2rem;
  z-index: 100;
  background-color: var(--clr-text-backdrop);
  backdrop-filter: blur(8px);
  animation: fade-in 0.7s forwards;
}

.closeModals {
  animation: fade-out 0.7s forwards;
}

.modal__container {
  position: relative;
  width: 50vw;
  background-color: var(--clr-bg-dark);
  border-radius: 0.5rem;
  padding: 2rem;
  animation: slide-down 0.5s forwards;
}

.modal__container_close {
  animation: slide-up 0.5s forwards;
}

.modal__close {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--clr-accent);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-text-light);
  border-radius: 0.5rem;
}
